.container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

.container h1 {
    margin: 31px 0 0 1px;
    padding: 0;
    font-family: 'Bellefair';
    font-weight: 400;
    font-size: clamp(3.5rem, 15vw, 5rem);
    text-align: center;
    color: var(--col-text);
    text-transform: uppercase;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 24px;
}

.planetSwitcher {
    display: flex;
    gap: 26px;
}

.planetBtn {
    position: relative;
    font-family: 'Barlow Condensed';
    font-weight: 400;
    line-height: 120%;
    letter-spacing: 2.3625px;
}

.planetBtn::after {
    position: absolute;
    content: "";
    top: 140%;
    left: -10%;
    height: 2px;
    width: 110%;
    background-color: rgba(255, 255, 255, 0);
    transition: all 0.3s ease-in-out;
}

.planetBtn:hover::after,
.planetBtn:focus::after,
.active::after {
    position: absolute;
    content: "";
    top: 140%;
    left: -10%;
    height: 2px;
    width: 110%;
    background-color: var(--col-text);
}