.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 88px;
}

.logo {
    margin-left: 24px;
}

.iconHamburger {
    display: none;
    margin-left: auto;
    margin-right: 24px;
}

.iconHamburger.visible{
    display: block;
}

nav{
    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    top: 0;
    right: 0;
    height: 100%;
    background: var(--col-menuBackGround);
    backdrop-filter: var(--backdrop-menu);
    transform: translateX(100%);
    transition: 0.5s;
}
nav.visible{
    transform: translateX(0)
}
