.carouselWrapper {
    display: flex;
    align-self: flex-start;
    gap: 48px;
    transform: translateX(calc(-0vw));
    transition: all 0.3s linear;
}

.carouselWrapper.first {
    transform: translateX(calc(-100vw));
}

.carouselWrapper.second {
    transform: translateX(calc(-200vw));
}

.carouselWrapper.third {
    transform: translateX(calc(-300vw));
}

.carouselElement {
    width: calc(100vw - 48px);
    text-align: center;
    margin: 32px 0 26px 0;
}

.carouselElement>img {
    width: 52%;
    height: auto;
}