.carouselWrapper {
    display: flex;
    align-self: flex-start;
    gap: 48px;
    transform: translateX(-0vw);
    transition: all 0.3s linear;
}

.carouselElement {
    width: calc(100vw - 48px);
    text-align: center;
}

.description {
    line-height: 167%;
    color: var(--col-textGrey);
}

.divider {
    width: 100%;
    border-top: var(--brd-divider);
    margin: 32px 0;
}

.paramWrapper {
    margin: 32px 0
}

.paramName {
    font-family: 'Barlow Condensed';
    text-align: center;
    letter-spacing: 2.3625px;
    text-transform: uppercase;
    color: var(--col-textGrey);
    margin-bottom: 12px;
}

.paramValue {
    font-family: 'Bellefair';
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}