:root {
  /* colors */
  --col-text: #fff;
  --col-textGrey: #d0d6f9;
  --col-menuBackGround: rgba(255, 255, 255, 0.04);
  /* backdrops */
  --backdrop-menu: blur(40.7742px)
}


body {
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: none;
}

p {
  color: var(--col-text);
  padding: 0;
  margin: 0;
}

a {
  color: var(--col-text);
  text-decoration: none;
}

ul,
li {
  color: var(--col-text);
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}