:root {
  /* colors */
  --col-text: #fff;
  --col-textGrey: #d0d6f9;
  --col-menuBackGround: rgba(255, 255, 255, 0.04);
  --col-divider: #383B4B;
  /* backdrops */
  --backdrop-menu: blur(40.7742px);
  /* borders */
  --brd-divider: 1px solid var(--col-divider);
  --brd-underline: 2px solid var(--col-divider);
}


body {
  padding: 0;
  margin: 0;
  background: black;
}

div {
  color: var(--col-text);
}

button {
  padding: 0;
  background-color: transparent;
  border: none;
  color: var(--col-text);
  font-size: clamp(.875rem, 2vw, 2rem);
  line-height: 120%;
}

p {
  padding: 0;
  margin: 0;
  font-size: clamp(.875rem, 2vw, 2rem);
  line-height: 120%;
  font-family: 'Barlow', sans-serif;
  font-weight: 400;
  text-align: center;
  color: var(--col-text);
}

a {
  color: var(--col-text);
  text-decoration: none;
}

ul,
li {
  color: var(--col-text);
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

h1 {
  margin: 16px 0;
  padding: 0;
  font-family: 'Bellefair', sans-serif;
  font-weight: 400;
  /* font-size: 80px; */
  font-size: clamp(5rem, 20vw, 9.375rem);
  line-height: 125%;
  text-align: center;
  color: var(--col-text);
  text-transform: uppercase;
}

h2 {
  margin: 31px 0 0 1px;
  padding: 0;
  font-family: 'Bellefair';
  font-weight: 400;
  /* font-size: 56px; */
  font-size: clamp(3.5rem, 15vw, 5rem);
  text-align: center;
  color: var(--col-text);
  text-transform: uppercase;
}